#snippet background:
#	background: ${1:color} ${2:image} ${3:repeat} ${4:attachment} ${5:position};
#snippet background-image:
#	background-image: url('${1:image url}');
#snippet border:
#	border: ${1:width} ${2:style} ${3:color};
#snippet border-top:
#	border-top: ${1:width} ${2:style} ${3:color};
#snippet border-right:
#	border-right: ${1:width} ${2:style} ${3:color};
#snippet border-bottom:
#	border-bottom: ${1:width} ${2:style} ${3:color};
#snippet border-left:
#	border-left: ${1:width} ${2:style} ${3:color};
#snippet margin:
#	margin: ${1:top} ${2:right} ${3:bottom} ${4:left};
#snippet padding:
#	padding: ${1:top} ${2:right} ${3:bottom} ${4:left};
snippet url
	url('${1:url}');
snippet rgb
	rgb('${1:red},${2:green},${3:blue}');
snippet rgba
	rgba('${1:red},${2:green},${3:blue},${4:alpha}');
#snippet .
#	.${1:class} {
#	  ${2}
#	}
#snippet #
#	#${1:class} {
#	  ${2}
#	}

# css snippets
# @see http://code.google.com/p/zen-coding/wiki/ZenCSSPropertiesEn
# @author é—²è€˜ (mail[AT]xianyun.org)

# comments for css
snippet /*
	/* ${1} */${2}
# Font
snippet font
	font:${1:font-style} ${2:font-variant} ${3:font-weight} ${4:font-size} ${5:line-height} ${6:font-family};${7}
snippet font-family
	font-family:${1:Courier,"Courier New"};${2}
snippet font-size
	font-size:${1:xx-small|x-small|small|medium|large|x-large|xx-large|larger|smaller|length};${2}
snippet font-style
	font-style:${1:normal|italic|oblique};${2}
snippet font-weight
	font-weight:${1:normal|bold|bolder|lighter};${2}
snippet text-decoration
	text-decoration:${1:none|underline|blink|overline|line-through};${2}
snippet text-underline-position
	text-underline-position:${1:below|above};${2}
snippet font-variant
	font-variant:${1:normal|small-caps};${2}
snippet text-transform
	text-transform:${1:none|capitalize|uppercase|lowercase};${2}
snippet line-height
	line-height:${1:normal|length};${2}
snippet letter-spacing
	leeter-spacing:${1:normal|length};${2}
snippet word-spacing
	word-spacing:${1:normal|length};${2}
# Text
snippet text-indent
	text-indent:${1:length};${2}
snippet text-overflow
	text-overflow:${1:clip|ellipsis};${2}
snippet vertical-align
	vertical-align:${1:auto|baseline|sub|super|top|text-top|middle|bottom|text-bottom|length};${2}
snippet valign
	vertical-align:${1:auto|baseline|sub|super|top|text-top|middle|bottom|text-bottom|length};${2}
snippet text-align
	text-align:${1:left|right|center|justify};${2}
snippet layout-flow
	layout-flow:${1:horizontal|vertical-ideographic};${2}
snippet writing-mode
	writing-mode:${1:lr-tb|tb-rl};${2}
snippet direction
	direction:${1:ltr|rtl|inherit};${2}
snippet unicode-bidi
	unicode-bidi:${1:normal|bidi-override|embed};${2}
snippet word-break
	wrod-break:${1:normal|break-all|keep-all};${2}
snippet line-break
	line-break:${1:normal|strict};${2}
snippet white-space
	white-space:${1:normal|pre|nowrap};${2}
snippet word-wrap
	word-wrap:${1:normal|break-word};${2}
snippet text-autospace
	text-autospace:${1:none|ideograph-alpha|ideograph-numeric|ideograph-parenthesis|ideograph-space};${2}
snippet text-kashida-space
	text-kashida-space:${1:length|inherit};${2}
snippet text-justify
	text-justify:${1:auto|distribute|distribute-all-lines|distribute-center-last|inter-cluster|inter-ideograph|inter-word|kashida|newspaper};${2}
snippet ruby-align
	ruby-align:${1:auto|left|center|right|distribute-letter|distribute-space|line-edge};${2}
snippet ruby-overhang
	ruby-overhang:${1:auto|whitespace|none};${2}
snippet ruby-position
	ruby-position:${1:above|inline};${2}
snippet ime-mode
	ime-mode:${1:auot|active|inactive|disabled};${2}
snippet layout-grid
	layout-grid:${1:layout-grid-mode} ${2:layout-grid-type} ${3:layout-grid-line} ${4:layout-grid-char};${5}
snippet layout-grid-char
	layout-grad-char:${1:none|auto|length};${2}
snippet layout-grid-line
	layout-grid-line:${1:none|auto|length};${2}
snippet layout-grid-mode
	layout-grid-mode:${1:both|line|char|none};${2}
snippet layout-grid-fixed
	layout-grid-fixed:${1:loose|strict|fixed};${2}
# Background
snippet background
	background:${1:transparent} ${2:none} ${3:no-repeat} ${4:scroll};${5}
snippet bg
	background:${1:transparent} ${2:none} ${3:no-repeat} ${4:scroll};${5}
snippet background-att
	background-attachment:${1:scroll|fixed};${2}
snippet background-color
	background-color:${1:transparent};${2}
snippet bgcolor
	background-color:${1:transparent};${2}
snippet background-image
	background-image:${1:none};${2}
snippet background-position
	background-position:${1:top|center|bottom|left|middle|right} ${2:top|center|bottom|left|middle|right};${2}
snippet background-position-x
	background-position-x:${1:left|center|right|length};${2}
snippet background-position-y
	background-position-y:${1:top|middle|bottom|length};${2}
snippet background-repeat
	background-repeat:${1:repeat|no-repeat|repeat-x|repeat-y};${2}
snippet layer-background-color
	layer-background-color:${1:transparent};${2}
snippet layer-background-image
	layer-background-image:${1:none};${2}
# Position
snippet position
	position:${1:static|absolute|fixed|relative};${2}
snippet z-index
	z-index:${1:auto};${2}
snippet top
	top:${1:auto};${2}
snippet right
	right:${1:auto};${2}
snippet bottom
	bottom:${1:auto};${2}
snippet left
	left:${1:auto};${2}
# Dimensions
snippet height
	height:${1:auto};${2}
snippet max-height
	max-height:${1:none};${2}
snippet min-height
	min-height:${1:none};${2}
snippet width
	width:${1:auto};${2}
snippet max-width
	max-width:${1:auto};${2}
snippet min-width
	min-width:${1:auto};${2}
# Layout
snippet clear
	clear:${1:none|left|right|both};${2}
snippet float
	float:${1:none|left|right};${2}
snippet clip
	clip:${1:auto|rect(number number number number)};${2}
snippet overflow
	overflow:${1:visible|auto|hidden|scroll};${2}
snippet overflow-x
	overflow-x:${1:visible|auto|hidden|scroll};${2}
snippet overflow-y
	overflow-y:${1:visible|auto|hidden|scroll};${2}
snippet display
	display:${1:block|none|inline|compact|marker|inline-table|list-item|run-in|table|table-caption|table-cell|table-column|table-column-group|table-footer-group|table-header-group|table-row|table-row-group};${2}
snippet visiblity
	visiblity:${1:inherit|visible|collapse|hidden};${2}
# Margins
snippet margin
	margin:${1:auto};${2}
snippet margin-top
	margin-top:${1:auto};${2}
snippet margin-right
	margin-right:${1:auto};${2}
snippet margin-bottom
	margin-bottom:${1:auto};${2}
snippet margin-left
	margin-left:${1:auto};${2}
# Outlines
snippet outline
	outline:${1:outline-color} ${2:outline-style} ${3:outline-width};${4}
snippet outline-color
	outline-color:${1:invert};${2}
snippet outline-style
	outline-style:${1:none|dotted|dashed|solid|double|groove|ridge|inset|outset};${2}
snippet outline-width
	outline-width:${1:medium|thin|thick|length};${2}
# Border
snippet border
	border:${1:1px} ${2:solid} ${3:#ccc};${4}
snippet border-color
	border-color:${1:#ccc};${2}
snippet border-style
	border-style:${1:none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset};${2}
snippet border-width
	border-width:${1:medium|thin|thick|length};${2}
snippet border-top
	border-top:${1:1px} ${2:solid} ${3:#ccc};${4}
snippet border-top-color
	border-top-color:${1:#ccc};${2}
snippet border-top-style
	border-top-style:${1:none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset};${2}
snippet border-top-width
	border-top-width:${1:medium|thin|thick|length};${2}
snippet border-right
	border-right:${1:1px} ${2:solid} ${3:#ccc};${4}
snippet border-right-color
	border-right-color:${1:#ccc};${2}
snippet border-right-style
	border-right-style:${1:none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset};${2}
snippet border-right-width
	border-right-width:${1:medium|thin|thick};${2}
snippet border-bottom
	border-bottom:${1:1px} ${2:solid} ${3:#ccc};${2}
snippet border-bottom-color
	border-bottom-color:${1:#ccc};${2}
snippet border-bottom-style
	border-bottom-style:${1:none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset};${2}
snippet border-bottom-width
	border-bottom-width:${1:medium|thin|thick|length};${2}
snippet border-left
	border-left:${1:1px} ${2:solid} #{3:#ccc};${2}
snippet border-left-color
	border-left-color:${1:#ccc};${2}
snippet border-left-style
	border-left-style:${1:none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset};${2}
snippet border-left-width
	border-left-width:${1:medium|thin|thick|length};${2}
# Generated Content
snippet include-source
	include-source:url(${1:});${2}
snippet quotes
	quotes:${1:none|string};${2}
snippet content
	content:${1:attr(alt)|counter(name)|counter(name,list-style-type)|counters(name,string)|counters(name,string,list-style-type)|no-close-quote|no-open-quote|close-quote|open-quote|string|url(url)};${2}
snippet counter-increment
	counter-increment:${1:none|identifier number};${2}
snippet counter-reset
	counter-reset:${1:none|identifier number};${2}
# Paddings
snippet padding
	padding:${1:0};${2}
snippet padding-top
	padding-top:${1:0};${2}
snippet padding-right
	padding-right:${1:0};${2}
snippet padding-bottom
	padding-bottom:${1:0};${2}
snippet padding-left
	padding-left:${1:0};${2}
# Lists
snippet list-style
	list-style:${1:none};${2}
snippet list-style2
	list-style:${1:disc} ${2:outside} ${3:none};${4}
snippet list-style-image
	list-style-image:url(${1:});${2}
snippet list-style-position
	list-style-position:${1:outside|inside};${2}
snippet list-style-type
	list-style-type:${1:disc|circle|square|decimal|lower-roman|upper-roman|lower-alpha|upper-alpha|none|armenian|cjk-ideographic|georgian|lower-greek|hebrew|hiragana|hiragana-iroha|katakana|katakana-iroha|lower-latin|upper-latin};${2}
snippet marker-offset
	marker-offset:${1:auto};${2}
# Table
snippet border-collapse
	border-collapse:${1:collapse};${2}
snippet border-spacing
	border-spacing:${1:0};${2}
snippet caption-side
	caption-side:${1:top|right|bottom|left};${2}
snippet empty-cells
	empty-cells:${1:show|hide};${2}
snippet table-layout
	table-layout:${1:auto|fixed};${2}
snippet speak-header
	speak-header:${1:once|always};${2}
# Scrollbar
snippet scrollbar
	scrollbar-base-color:${1:#ccc};
	scrollbar-face-color:${2:#f6f6f6};
	scrollbar-highlight-color:${3:#fff};
	scrollbar-shadow-color:${4:#ccc;}
	scrollbar-3dlight-color:${5:#ccc};
	scrollbar-arrow-color:${6:#300};
	scrollbar-track-color:${7:#f6f6f6};
	scrollbar-darkshadow-color:${8:#fff};${9}
# Printing
snippet page
	page:${1:auto|pagetype};${2}
snippet page-brake-after
	page-break-after:${1:auto|always|avoid|left|right|null};${2}
snippet page-break-before
	page-break-before:${1:auto|always|avoid|left|right|null};${2}
snippet page-break-inside
	page-break-inside:${1:auto|avoid};${2}
snippet marks
	marks:${1:none|crop|cross};${2}
snippet orphans
	orphans:${1:0};${2}
snippet size
	size:${1:auto|portrait|landscape|langth};${2}
snippet windows
	windows:${1:0};${2}
# Aural
snippet voice-family
	voice-family:${1:child|female|male|name};${2}
snippet volume
	volume:${1:silent|x-soft|soft|medium|x-loud|number};${2}
snippet elevation
	elevation:${1:below|level|above|lower|higher|angle};${2}
snippet azimuth
	azimuth:${1:left-side|far-left|left|center-left|center|center-right|right|far-right|right-side|leftwards|rightwards|angle};${2}
snippet stress
	stress:${1:50};${2}
snippet richness
	richness:${1:50};${2}
snippet speech-rate
	speech-rate:${1:x-slow|slow|medium|fast|x-fast|slower|faster|number};${2}
snippet cue
	cue:${1:cue-before} ${2:cue-after};${3}
snippet cue-after
	cue-after:url(${1:none});${2}
snippet cue-before
	cue-before:url(${1:none});${2}
snippet pause
	pause:${1:1s} ${2:1s};${3}
snippet pause-after
	pause-after:${1:1s};${2}
snippet pause-before
	pause-before:${1:1s};${2}
snippet pitch
	pitch:${1:x-low|low|medium|hight|x-hight|number};${2}
snippet pitch-range
	pitch-range:${1:50};${2}
snippet play-during
	play-during:${1:url()|mix|repeat|auto|none};${2}
snippet speak
	speak:${1:normal|none|spell-out};${2}
snippet speak-numeral
	speak-numeral:${1:continuous|digits};${2}
snippet speak-punctuation
	speak-punctuation:${1:none|code};${2}
# Classification
snippet cursor
	cursor:${1:auto|all-scroll|col-resize|crosshair|default|hand|move|help|no-drop|not-allowed|pointer|progress|row-resize|text|vertical-text|wait|*-resize|url(url)};${2}
snippet behavior
	behavior:url(${1:url|#objID|#default#behaviorName});${2}
snippet filter
	filter:${1:filter};${2}
snippet zoom
	zoom:${1:normal|number};${2}
# Common
snippet @i
	@import:url(${1});${2}
snippet a
	a{${1}}
	a:link{${2}}
	a:visited{${3}}
	a:hover{${4}}
	a:active{${5}}${6}
snippet !
	!important
snippet wrap
	white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word; word-break:normal;${1}
snippet nowrap
	white-space:${1:nowrap};${2}
snippet break
	wrod-break:${1:break-all};${2}
snippet border2
	border-width:${1:0}; border-style:${2:solid}; border-color:${3:#ccc};${4}
snippet radius
	-moz-border-radius:${1:4px}; -khtml-border-radius:$1; -webkit-border-radius:$1; border-radius:$1;${2}
snippet radius4
	-moz-border-radius:${1:4px} ${2:$1} ${3:$1} ${4:$1};
	-khtml-border-radius:$1 $2 $3 $4;
	-webkit-border-top-left-radius:$1; -webkit-border-top-right-radius:$2;
	-webkit-border-bottom-right-radius:$3; -webkit-border-bottom-left-radius:$4;
	 border-radius:$1 $2 $3 $4;${5}
snippet radius44
	-moz-border-radius-topleft:${1:4px}; -moz-border-radius-topright:${2:$1};
	-moz-border-radius-bottomright:${3:$1}; -moz-border-radius-bottomleft:${4:$1};
	-khtml-border-radius:$1 $2 $3 $4;
	-webkit-border-top-left-radius:$1; -webkit-border-top-right-radius:$2;
	-webkit-border-bottom-right-radius:$3; -webkit-border-bottom-left-radius:$4;
	 border-radius:$1 $2 $3 $4;${5}
snippet opacity
	-moz-opacity:${1:.5}; opacity:$1; -ms-filter:"alpha(opacity=${2:$1*100})"; filter:alpha(opacity=$2); zoom:1;${3}
snippet touming
	opacity
snippet transform
	-moz-transform:rotate(${1:180}deg); -webkit-transform:rotate($1deg); -o-transform:rotate($1deg); transform:rotate($1deg);
snippet transform-origin
	-moz-transform-origin:${1:50% 20%}; -webkit-transform-origin:$1; -o-transform-origin:$1; transform-origin:$1;
snippet transition
	-moz-transition:-moz-${1:transform 0.2s ease-in}; -webkit-transition:-webkit-$1; -o-transition:-o-$1; transition:$1;
snippet border
	border-width:${1:1px}; border-style:${2:solid}; border-color:${3:#ccc};
snippet min-height-hack
	min-height:${1:8em}; height:auto;
	${2}
	/* for Internet Explorer */
	/*\*/
	* html ${3:selector} {
	    height:${4:$1};
	}
	/**/
	/* min height end */${5}
snippet clearfix
	${1:.clearfix}:after{content:"\0020"; display:block; height:0; clear:both;}
	$1{zoom:1;}
