[user]
  name = Alexis Hevia
  email = hevia.alexis@gmail.com
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[color]
  ui = 1
[push]
  default = current
[alias]
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep ^[a-z]
  pf = push --force-with-lease
[core]
  editor = /usr/bin/vim
[commit]
  template = ~/.gitmessage
